/*Web Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #65BAFF;
    margin-top: 10px;
    background-image: linear-gradient(#65BAFF, #0081EA);
}

main {
    width: 80%;
    max-width: 1024px;
    padding: 40px 0px;
    margin: 0 auto;
}

#main-content {
    background-color: white;
    padding: 80px 5%;
    margin: 0 auto;
}

#main-container {
    position: relative;

}

#main-content {
    position: relative;
    background-color: white;
    padding: 80px 5%;
    margin: 0 auto;
    margin-left: 0;


}

/*Prevents unwanted animations when page initially loads*/
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}


#main-content.has-sidebar {
    transition: 0.5s;

    /*remove space from stickly sidebar toggler*/
    margin-top: -100vh;
}

#main-content.sidebar-opened {
    position: relative;
    margin-left: 200px;
    transition: 0.5s;

}

#sidebar-scroller {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0px;
    z-index: 999999999;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
}

#sidebar-container.opened {
    position: absolute;
    border-right: 6px solid #76C2FF;
    left: 0;
    top: 0;
    z-index: 300000;

}

#sidebar-container {
    border-right: 6px solid #cbcbcb;
    position: absolute;
    z-index: 300000;
    left: -200px;
    transition: left 0.5s;
}

#sidebar {
    pointer-events: all !important;
    background-color: #141414;
    overflow-y: auto;
    height: 100vh;
    position: relative;
    top: 0;
    color: white;
    width: 100%;
    padding: 80px 14px 0px;
    box-sizing: border-box;
    max-width: 200px;
    min-width: 200px;
    z-index: 300000;
    transition: width 0.5s;
    pointer-events: all !important;
}


#sidebar-toggler {
    position: absolute;
    top: 50%;
    right: -15px;
    z-index: 40005;
    transition: 0.5s;
    pointer-events: all !important;
    height: 100px;
    max-height: 100px;
    width: auto;
    content: url("images/img-sidebar-grip-closed.svg");


}

#sidebar-toggler.opened {
    position: absolute;
    right: -15px;
    top: 50vh;
    z-index: 4000005;

}

#sidebar-toggler.opened {
    content: url("images/img-sidebar-grip-opened.svg");
    height: 100px;
    max-height: 100px;
    width: auto;
}


#sidebar h2 a {
    font-size: 21px;
    color: #9ED3FF;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

#sidebar ul {
    margin-bottom: 30px;
}

#sidebar ul li {
    color: white;
    list-style: none;
}

#sidebar a {
    color: white;
    text-decoration: none;
}



p,
li,
span,
label,
input,
select option,
strong,
table,
dt,
dd {
    font-family: 'Open Sans', 'Tahoma', sans-serif;
    color: #666666;
}

ul {
    padding-left: 8%;
}

li {
    margin-bottom: 10px;
}



/*HEADER====================================*/

header {
    background-image: url(images/backdrop-grey.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px 16px 0px 0px;
    padding: 20px;
    text-align: center;
}

#site-brand {
    text-decoration: none;
}

#site-logo {
    margin-bottom: 5px;
}

.separator {
    background-image: linear-gradient(#DEDEDE, #6B6B6B);
    height: 10px;
}

/*NAVBAR=======================*/

.navbar {
    background-color: #EBEBEB;
    background-image: linear-gradient(#E4E4E4, #F0F0F0 45%, #D4D4D4, #CCCCCC);
    color: #4a4a4a;
    font-size: 14px;
    margin-bottom: 0;
    padding: 0px 0px;
    max-height: 48px;
    border-bottom: 1px solid rgb(128, 128, 128);
    z-index: 400000;
}

.nav-fixed {
    position: fixed;
    top: 0;
    z-index: 9999999909;
    width: 80%;
    max-width: 1024px;
    margin: 0 auto;
}

.navbar-toggler i {
    color: black;
    font-size: 20px;
    padding: 4px 12px !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-brand {
    color: #393939;
    padding: 4px 8px;
    border-right: 1px solid rgb(128, 128, 128);
}

.navbar-brand:hover {
    color: #b1b1b1;
}


nav li a {
    color: #393939;
    text-align: right;
    border-left: 1px solid rgb(128, 128, 128);
    padding: 8px 20px !important;
    min-height: 39px;
    vertical-align: middle;

}

.nav-item {
    margin-bottom: 0px !important;
}

nav li a:hover {
    color: #b1b1b1;
}



/*FOOTER=====================================*/

footer {
    background-color: black;
    border-radius: 0px 0px 16px 16px;
    z-index: 400000;
}

footer .row {
    padding: 40px 20px 40px 20px;
    margin: 0;
}

footer h3 {
    color: white;
}

footer ul li {
    color: white !important;
}

#footer-info {
    border-top: 1px solid #1d1d1d;
    padding: 20px 0px;
    text-align: center;
}

#footer-info span {
    font-size: 14px;
}


/*Footer Social Links*/
.list-social-links{
    list-style-type: none;
    margin-left: 2.0em;
    padding-left: 0;
    position: relative;
}

.list-social-links span{
    left: -2.2em;
    position: absolute;
    text-align: center;
    width: 2em;
    line-height: inherit;
}

.list-social-links li{
        margin-bottom: 1.2em;
}

.list-social-links i{
    font-size: 26px;
    vertical-align: baseline;
}

/*HEADLINES AND SPECIAL TEXT======================*/

h1 {
    font-family: 'Ubuntu', 'Trebuchet MS', Sans-Serif !important;
    font-size: 42px;
    color: #D8D8D8;
}

h2 {
    font-family: 'Ubuntu', 'Trebuchet MS', Sans-Serif !important;
    font-size: 32px;
    font-weight: 500;
    color: #666666;
    margin-bottom: 0px;
}


h3 {
    font-family: 'Ubuntu', 'Trebuchet MS', Sans-Serif !important;
    color: #393939;
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 22px;
}

h4 {
    font-family: 'Ubuntu', 'Trebuchet MS', Sans-Serif !important;
    color: #3e3e3e;
    font-weight: 500;
    font-size: 20px;
}

h5 {
    font-family: 'Ubuntu', 'Trebuchet MS', Sans-Serif !important;
    font-size: 1rem;
    margin-bottom: 0px !important;
    font-weight: 400;
    margin-bottom: 0;
    padding: 6px 4px;
}



.themed-text {
    font-family: 'Ubuntu', 'Trebuchet MS', Sans-Serif !important;
    color: #D8D8D8;
    font-weight: 400;
    text-shadow: -2px -2px 0 #3e3e3e, 2px -2px 0 #3e3e3e, -2px 2px 0 #3e3e3e, 2px 2px 0 #3e3e3e;
    /*-webkit-text-stroke-width: 1.7px;
    -webkit-text-stroke-color: #3e3e3e;
    background: -webkit-linear-gradient(#F0F0F0, #B2B2B2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    */
}



/*SECTIONS AND SECTION CONTENT============================*/

.section-headline {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 30px;
    padding-bottom: 10px;
    overflow-wrap: break-word;
}


.section-container {
    scroll-margin-top: 60px;
    margin-bottom: 80px;
}

.sub-section {
    margin-bottom: 40px;
}


.post-thumbnail {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;

}

.post-thumbnail-title {
    text-align: center;
    font-size:

}

.post-sub-text {
    text-align: center;
    display: block;
}


.container-bubble {
    background-color: #EBEBEB;
    border: 1px solid #bebebe;
    border-radius: 20px;
    padding: 30px;
    color: #767676;
}

.hero-banner {
    background-color: #3f95cb;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 30px;
}

.hero-banner * {
    color: white !important;
}


.banner {
    background-image: url(images/backdrop-grey.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

.banner-text {
    /*font-size: 42px !important;*/
    font-size: calc(30px + 6 * ((100vw - 320px) / 680)) !important;
}

.banner-button {
    width: 100%;
    max-width: 260px;
    margin-bottom: 20px;
}


/*BUTTONS AND LINKS==================================*/


.btn-primary,
.btn-primary:visited,
.btn-primary:disabled,
.btn-primary.disabled {
    background-color: #2A2A2A;
    border: 1px solid #2A2A2A !important;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    box-shadow: none !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #212121;
}

.btn-primary:active {
    background-color: #1d1d1d !important;
}

.btn-secondary,
.btn-secondary:visited,
.btn-secondary:disabled,
.btn-secondary.disabled {
    background-color: #65BAFF;
    border: 1px solid #65BAFF !important;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    box-shadow: none !important;
}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: #82c7ff;
}

.btn-secondary:active {
    background-color: #54a8ed !important;
}

/*CODING REFERENCE ====================*/

.copyable {
    position: relative;
    display: inline-block;
}

.copyable .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 999999999;
}

.copyable .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.copyable:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.copyable:hover {
    color: #5CB5FD;
}


.anchor-element {
    background-color: red;
    min-height: 20px;
}


table {
    border-collapse: collapse !important;
}

td,
th {
    border: 1px solid #ddd;
    padding: 12px;
}

th {
    background-color: #1D1D1D;
    color: white;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/*CODE STYLING =================================*/

.code-snippet-title {
    font-family: 'Ubuntu', 'Trebuchet MS', Sans-Serif !important;
    background-color: #d0d0d0;
    font-size: 1rem;
    margin-bottom: 0px !important;
    font-weight: 400;
    margin-bottom: 0;
    padding: 6px 4px;
}

.code-snippet {
    border: 1px solid #d0d0d0;
    color: #0080ff;
    padding: 6px;
    margin-bottom: 26px;
}

.description-blurb {
    margin-bottom: 26px;
}







/*MISC ====================================*/

/*Social Icons*/
.fa-discord {
    color: #5865F2 !important;
}

.fa-youtube {
    color: #FF0000;
}

.fa-reddit{
    color: #FF4500;
}

.icon-dsgm:before {
    content: url("images/icon_DSGM.svg");
    height: 1em !important;
    width: 1em !important;
    vertical-align: -0.3rem;
    display: inline-block;
}

/*Youtube Video Responsive Embeding*/
.fluidMedia16x9 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}


.fluidMedia16x9 {
    position: relative;
    padding-bottom: 56.25%;
    /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    height: 0;
    overflow: hidden;
    background-color: black;
}


/*Youtube Video Banner=================================*/


/*Disable Youtube Video Interactivity*/
.VideoBanner iframe {
    pointer-events: none;
}

/*Pervent horitontal scroll Bars since child video container can be bigger*/
.VideoBanner {
    overflow: hidden;
}

.VideoBanner .VideoContainer {
    position: relative;
    margin: auto;
    display: block;
    bottom: 0px;
    top: 0px;

    /*Center Video Container horizontally*/
    left: 50%;
    transform: translate(-50%, 0);
}

.VideoBannerContent {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 15%;
    left: 0%;
    /*Center Content and self*/
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.VideoBannerContentContainer {
    max-width: 500px;
    width: 80vw;
}

.VideoBannerContentContainer * {
    color: white;
    text-shadow: 0px 0px 20px #13202a;
}

#player {
    background-image: url('images/backdrop-dsgm-projects-showreel.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}








/*MEDIA QUERIES===============================*/


/*Bootstrap Large Media Query*/
@media only screen and (max-width: 991px) {}


/*Mobile*/
@media only screen and (max-width: 767px) {

    main {
        width: 96%;
    }

    .nav-fixed {
        width: 96%;
    }

    nav li a {
        background-color: #ccc;
        border-top: 1px solid rgb(128, 128, 128);
        border-bottom: 1px solid rgb(128, 128, 128);
    }
    
    footer .row{
        max-width: 360px;
        margin: 0 auto;
    }
    
    .footer-col{
        justify-content: flex-start !important;
        margin-left: 30px;
    }

    /*HEADLINES ----------------------*/

    h1 {
        font-size: 42px;
        text-align: center
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
    }

    /*MISC------------------------*/

    .VideoBanner .VideoContainer {

        /* 16x9 video*/
        min-width: 100vw;
        width: calc((16 * 80vh)/9);
    }


}

/*Mobile Small*/
@media only screen and (max-width: 360px) {

    main {
        width: 100%;
    }

    .nav-fixed {
        width: 100%;
    }

    #main-content {
        padding: 40px 5%;
    }


    /*HEADLINES ----------------------*/

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 16px;

    }


    .section-headline {
        padding-bottom: 5px;
    }

}